body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
   }
  
   /*HEADER*/
  
   .header {   
    position: relative;    
    overflow: hidden;
    background-color: transparent;
    padding: 2vh 1vh;
    background-color: rgb(87, 87, 87);
  }
  
  /* MAIN */
  
  .background {
    position: relative;
    text-align: center;
    color: white;
  }
  
  .texto {
    font-size: 15vh;
    position: absolute;
    top: 55vh;
    left: 97vh;
    transform: translate(-18vh, -50vh);
  }

  .texto a {
    text-decoration: none;
    color: #ddd;
  }
  
  .txt {
    margin-left: -50vh;
    color: #ddd;
  }
  
  
  .prg1 {
    position: absolute;
    background-color: rgb(87, 87, 87);
    width: 50vh;
    height: 50vh;
    border: solid 1vh #000;
    border-radius: 25vh;
    margin-left: -65vh;
  }
  
  .prg2 {
    position: absolute;
    background-color: rgb(87, 87, 87);
    width: 50vh;
    height: 50vh;
    border: solid 1vh #000;
    border-radius: 25vh;
  }
  
  .prg3 {
    position: absolute;
    background-color: rgb(87, 87, 87);
    width: 50vh;
    height: 50vh;
    border: solid 1vh #000;
    border-radius: 25vh;
    margin-left: 65vh;
  }

  .prg1 img{
    margin-top: 19.5vh;
    min-width: 48vh;
    max-width: 48vh;
    height: auto;
  }
  
  .prg2 img{
    margin-top: 15vh;
    min-width: 44vh;
    max-width: 44vh;
    height: auto;
  }
  
  .prg3 img{
    margin-top: 8vh;
    min-width: 32vh;
    max-width: 32vh;
    height: auto;
  }
  
  .prg1:hover {
    background-color: #ddd;
    color: black;
  }
  
  .prg2:hover {
    background-color: #ddd;
    color: black;
  }
  
  .prg3:hover {
    background-color: #ddd;
    color: black;
  }
  
    /*FOOTER*/
  
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4vh;
    background-color:rgb(87, 87, 87)    ;
    color: white;
    text-align: center;
  }
  